:root {
  background: #f5f4fa;
  font-family: "Poppins", sans-serif;
}

.feature-container {
  display: flex;
  gap: 36px;
  margin-left: 300px;

}

.geex-content__feature__card {
  width: 145px;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  cursor: pointer;

}

.geex-content__feature__card__subtitle {
  font-size: 14px;
  color: #777;
}

h4.geex-content__feature__card__title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  color: #111;
}

.geex-content__feature__card__badge {
  color: #0f9d58;
  padding: 5px 2px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.geex-content__feature__card__img img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-top: 24px;
}

/* header.css */



.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  flex-wrap: wrap;
  margin-left: 300px;
}

.dashboard-left h1 {
  font-size: 30px;
  line-height: 40px;
  color: #2f2d4a;
  margin-bottom: 10px;
}

.dashboard-left p {
  font-size: 15px;
  line-height: 22px;
  color: #444;
}

.dashboard-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.custom-btn {
  border: none;
  padding: 19px 34px;
  border-radius: 20px;
  background: #ece9f5;
  font-size: 14px;
  cursor: pointer;
  color: #2f2d4a;
}

.custom-btn:hover {
  background: #AB54DB;
  color: white;
}

.icon-box {
  position: relative;
  cursor: pointer;
  color: #433d57;
}

.icon-box:hover {
  color: #AB54DB;
}


.notification .badge {
  position: absolute;
  top: -10px;
  right: -12px;
  min-width: 20px;
  height: 20px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}


.blue {
  background: #00a8ff;
}

.orange {
  background: #ffb648;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  object-fit: cover;
}

.dashboard-wrapper {
  margin: 20px 312px 0 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dashboard-card {
  background-color: white;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  font-size: 24px;

  line-height: 36px;
  font-weight: 500;
}

.action-btn {
  border: none;
  background: transparent;
  color: #AB54DB;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.action-btn:hover {
  color: #6c2bd9;
}

.stats-content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.stats-content h1 {
  font-size: 35px;
  color: #00A389;
  font-weight: 400;
}

.stats-text span {
  font-size: 16px;
  font-weight: 500;
  color: #2f2d4a;
}

.stats-text p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #555;
}

.chart-box {
  height: 250px;
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9b51e0;
  font-size: 24px;
}


.sidebar {
  width: 190px;
  min-height: 324px;
  background: white;
  border-radius: 40px;
  padding: 30px 40px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

/* Logo */

.logo-icon img {
  max-height: 50px;
}




/* Menu */

.menu-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 25px;
  color: #555;
  cursor: pointer;

}

.menu-item:hover {
  background: rgb(171 84 219 / 15%);
  padding: 10px;
  border-radius: 10px;
  color: #AB54DB;
}

.menu-icon:hover {
  color: #AB54DB;
}

.menu-item h3 {
  font-size: 22px;
  font-weight: 500;
}

.menu-icon {
  color: #b6b6b6;
}

/* Footer */

.sidebar-footer {
  margin-top: 100px;
}

.sidebar-footer h2 {
  font-size: 14px;
  font-weight: 600;
  color: #4c4b63;
  margin-bottom: 10px;
}

.sidebar-footer p {
  color: #999;
  margin-bottom: 18px;
  font-size: 12px;
  font-weight: 400;
}

.sidebar-footer span {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

h4.geex-content__widget__single__title {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  font-weight: 500;
}


p.geex-content__widget__single__subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 0;
  color: #A3A3A3;
}

.website-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
}

.website-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 640px;
  margin-top: 212px;
}

.website-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.website-icon {
  padding: 7px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.website-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.website-content h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.website-content p {
  margin-top: 8px;
  color: #9ca3af;
}

.website-content p:hover {
  color: #9b51e0;
}

.status-btn {
  border: none;
  padding: 8px 12px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-left: 7px;
}

.status-btn:hover {
  color: white;
  opacity: 0.85;
}

.down {
  background: #ff5c5c;
}

.stable {
  background: #00b894;
}

.warning {
  background: #f4b04f;
}

/* widgetHeader*/
.geex-content__widget__single__user {
  margin-left: 300px;
}

.geex-content__widget__single__usertitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 0;
  color: #464255;
}

.geex-content__widget__single__usersubtitle {
  font-weight: 400;
  margin-bottom: 18px;
  margin-top: 5px;
  color: #464255;
}

.user-card {
  width: 582px;
  background: #fff;
  border-radius: 25px;
  padding: 30px;
  margin-left: 300px;
}

.user-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-image {
  width: 54px;
  height: 54px;
  border-radius: 18px;
  object-fit: cover;
  background-color: #ECEAF3;
}

.user-header h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.user-header p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
}

.user-message {
  margin: 25px 0;
  line-height: 1.8;
  color: #464255;
  font-size: 14px;
  font-weight: 400;
}

.user-actions {
  display: flex;
  gap: 25px;
}

.archive-btn,
.accept-btn,
.publish-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.archive-btn {
  color: #ff5c5c;
}

.accept-btn {
  color: #00b894;
}

.activity-card {

  position: absolute;
  margin-top: 446px;
  margin-left: 648px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  font-size: 32px;
  margin: 0;
}

.card-header button {
  border: none;
  background: none;
  color: #a855f7;
  font-weight: 600;
  cursor: pointer;
}

.visitor-info {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}

.visitor-info h1 {
  font-size: 60px;
  color: #00a88f;
  margin: 0;
}

.visitor-info span {
  font-size: 24px;
}

.activity-card h2 {
  color: #464255;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 30px;
}

.activity-subtitle {
  color: #A3A3A3;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 0;
}

.timeline-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 35px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 11px;
  top: 20px;
  width: 2px;
  height: calc(100% + 20px);
  background: #ddd;
}

.timeline-item:last-child::before {
  display: none;
}

.timeline-dot {
  position: absolute;
  left: 4px;
  top: 5px;
  width: 11px;
  height: 11px;
  border: 3px solid #AB54DB;
  border-radius: 50%;
  background: #fff;
}

.timeline-content h4 {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #464255;
}

.timeline-content p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 0;
  color: #A3A3A3;
}




.submenu {
  background-color: mintcream;
  padding: 10px 20px 10px 10px;
  border-radius: 20px;
}

.submenu-item {
  padding: 10px;
  cursor: pointer;
}

.submenu-item:hover {
  color: purple;
}

.signup-container {
  display: flex;
  min-height: 100vh;
}

.signup-form-section {
  flex: 1;
  padding: 80px;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
}

.signup-banner-section {
  flex: 1;
  background: #f6f4fc;
  display: flex;
  justify-content: center;
}

.signup-banner-section img {
  width: 40%;
  position: fixed;
}

.logo {
  max-width: 100%;
  margin: 0 auto;
}

.signup-form-section h2 {
  font-size: 25px;
  margin: 25px 100px 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
}

.input-group input {
  width: 80%;
  height: 56px;
  padding: 0 23px;
  margin: 0 0 23px;
  border: 1px solid #ECEAF3;
  border-radius: 12px;
}

.signup-btn {
  width: 90%;
  padding: 15px;
  border: none;
  background: #a855f7;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.divider {
  text-align: center;
  margin: 25px 0;
}

.divider1 {
  text-align: center;
  margin: 25px 0;
}
.divider1::after {
  content: '';
  width: 180px;
  height: 1px;
  margin-top: 655px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ECEAF3;
}
.divider1::before {
  margin-top: 655px;
  left: 0;
  margin-left: 164px;
  content: '';
  width: 180px;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ECEAF3;
}

.divider::after {
  content: '';
  width: 180px;
  height: 1px;
  margin-top: 490px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ECEAF3;
}

.divider::before {
  margin-top: 490px;
  left: 0;
  margin-left: 164px;
  content: '';
  width: 180px;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ECEAF3;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-btn {
  padding: 12px 25px;
  border: 1px solid #ECEAF3;
  border-radius: 10px;
  background: transparent;
  font-size: 18px;
  color: #464255;
  cursor: pointer;
}

.social-btn:hover {
  border: 1px solid #AB54DB;
  color: #AB54DB;
}

.signin-text {
  text-align: center;
  margin-top: 20px;
}

.signin-text a {
  color: #a855f7;
  text-decoration: none;
}

.dropdown-menu p {
  font-size: 17px;
  color: #666;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown-menu p:hover {
  color: #a855f7;
}

.sidebar-footer p,
.sidebar-footer span {
  color: #777;
  font-size: 14px;
}

.signin-container {
  display: flex;
  height: auto;
}

.signin-left {
  width: 50%;
  padding: 80px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.signin-left h1 {
  font-size: 25px;
  color: #1f2a44;
  margin: 0px 113px 41px;
}

form {
  display: flex;
  flex-direction: column;
  
}

label {
  font-size: 18px;
  color: #333;
}

input {
  width: 80%;
  height: 56px;
  padding: 0 23px;
  margin: 0 0 23px;
  border: 1px solid #ECEAF3;
  border-radius: 12px;
}
.remember input{
  width: 10px;
}

.password-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-top span {
  color: #a855f7;
  cursor: pointer;
}

.remember {
  display: flex;
  align-items: center;
  gap: 10px;
}


.signin-right {
  width: 50%;
  background: #f6f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-right img {
  width: 80%;
}

.sidebar-footer {
  margin-top: 40px;
}

.sidebar-footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
}