.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 30px;
    justify-self: start;
    margin-left: 250px;
}

.frontcard {
    height: 518px;
    width: 300px;
    border: 1px solid black;
}

.companylogotop {
    position: absolute;
    height: auto;
    width: 140px;
    margin: 23px -229px;
}

.profileimg {
    position: absolute;
    margin: 77px -215px;
    width: 125px;
}

.name {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 79px 0 5px;

}


.role {
    font-family: "Karla", sans-serif;
    background: #009444;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 5px;
    width: 85px;
    margin-left: 93px;
    color: white;
}

.details {
    font-family: "Karla", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 15px 26px;
}

.backcard {
    height: 518px;
    width: 300px;
    border: 1px solid black;

}

.companylogo {
    height: auto;
    width: 140px;
    position: absolute;
    margin: 40px -226px;
}

.terms {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.content {
    font-family: "Karla", sans-serif;
    padding: 20px 25px 0px 25px;
    line-height: 14px;
    font-size: 14px;
    text-align: justify;
}

.content1 {
    width: 168px;
    margin-left: 109px;
    line-height: 17px;
    font-size: 14px;
    margin-top: 30px;
}