<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="veiwpoint" content="width=device-width,initial-scale=1.0">
    <title>
        Card Layout
    </title>
    <link rel="stylesheet" href="layoutstyles.css">
</head>

<body class="backimg">
    <div class="main-div">
        <div>
            <img src="laptop.jpg">
            <div>
                <div class="text-arrange technology">Technology</div>
                <div class="subject">What's New in 2022 Tech</div>
                <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                <div class="profile-footer">
                    <img src="logo.webp" class="profile_img">
                    <div>
                        <div class="name">Jane Doe</div>
                        <div class="title">2h ago</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="food.avif">
            <div>
                <div class="text-arrange food">Food</div>
                <div class="subject">Delicious Food</div>
                <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                <div class="profile-footer">
                    <img src="logo.webp" class="profile_img">
                    <div>
                        <div class="name">Jony Doe</div>
                        <div class="title">Yesterday</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="car">
            <div>
                <div class="text-arrange automobile">Automobile</div>
                <div class="subject">Race To Your Heart Content</div>
                <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                <div class="profile-footer">
                    <img src="logo.webp" class="profile_img">
                    <div>
                        <div class="name">John Doe</div>
                        <div class="title">2d ago</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>