.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 30px;
}




.card_1 {
    background: white;
    background-image: url('../5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 260px;
    height: 400px;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

.card_2 {
    background: white;
    width: 260px;
    height: 400px;
    display: grid;
    grid-template-columns: auto;
    text-align: center;

}

.center-div {
    background-color: blue;
    padding: 20px;
    width: 50%;
    position: absolute;
    margin-left: 20%;
}

.image_styles {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 32px;
}

.web_style {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.name_style {
    font-size: 18px;
    font-weight: bold;
}
.terms_styles{
    font-style: oblique;
    font-size: 10px;
    margin-bottom: 10px;
}
.id_styles{
    font-size: 10px;
}
.design_styles{
    font-size: small;
    padding-bottom: 10px;
}
/*
.image_styles1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgb(124, 124, 234);
    margin-left: 30px;
    margin-top: 5px;
}
.image_styles2{
    width: 65px;
    margin-top: 15px;
    margin-left: 2px;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 76px;
    background: purple;
    color: white;
}
.arrow{
    width: 50px;
}
*/
.image_styles3{
    width: 260px;
    height: 180px;
}
